# 00 - MAssive Nitrogenase prediction statistics

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
structure_info = pd.read_csv('reference.csv')

In [3]:
structure_info[['variant', 'id']].groupby('variant').count()

          id
variant
ALT2     767
ALT3     766
ALT4     766
ALT5     766
ALTALL   765
MAP      768
WT       770

In [4]:
structure_info[['status', 'id']].groupby('status').count()

          id
status
gold    1538
silver  3830

In [5]:
structure_info[['is_ancestral', 'id']].groupby('is_ancestral').count()

                id
is_ancestral
False          770
True          4598

In [6]:
structure_info['u'] = structure_info['original_name'].apply(lambda x : x.split('.')[0].replace('_001', '').replace('_alt2', '').replace('_alt3', '').replace('_alt4', '').replace('_alt5', '').replace('_altall', '').replace('_map', ''))

In [7]:
structure_info[['stochiometry', 'u', 'is_ancestral', 'id']].groupby(['stochiometry', 'u', 'is_ancestral'], as_index=False).count().to_csv('count.csv')

In [8]:
structure_info.query('u == "Anc_1206"')

,original_name,id,stochiometry,average_pLDDT,taxond_id,lineage,scientific_name,is_ancestral,nitrogenase_type,status,chain_reference,variant,clade,u
565,Anc_1206_map_001.rechained.pdb,nsdb-000566,DDKK,94.940253,Anc_1206_map,Anc_1206_map,Anc_1206_map,True,Anc,gold,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",MAP,other,Anc_1206
1146,Anc_1206_map_001.rechained.pdb,nsdb-001147,HH,88.738974,Anc_1206_map,Anc_1206_map,Anc_1206_map,True,Anc,gold,"{'A': 'H', 'B': 'H'}",MAP,other,Anc_1206
1557,Anc_1206_altall_001.rechained.pdb,nsdb-001558,DDKK,93.348608,Anc_1206_altall,Anc_1206_altall,Anc_1206_altall,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALTALL,other,Anc_1206
2237,Anc_1206_alt2_001.rechained.pdb,nsdb-002238,DDKK,93.223124,Anc_1206_alt2,Anc_1206_alt2,Anc_1206_alt2,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT2,other,Anc_1206
2544,Anc_1206_alt4_001.rechained.pdb,nsdb-002545,DDKK,93.560968,Anc_1206_alt4,Anc_1206_alt4,Anc_1206_alt4,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT4,other,Anc_1206
3220,Anc_1206_alt5_001.rechained.pdb,nsdb-003221,DDKK,93.668608,Anc_1206_alt5,Anc_1206_alt5,Anc_1206_alt5,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT5,other,Anc_1206
3259,Anc_1206_alt3_001.rechained.pdb,nsdb-003260,DDKK,93.417548,Anc_1206_alt3,Anc_1206_alt3,Anc_1206_alt3,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT3,other,Anc_1206
3468,Anc_1206_altall_001.rechained.pdb,nsdb-003469,HH,88.305037,Anc_1206_altall,Anc_1206_altall,Anc_1206_altall,True,Anc,silver,"{'A': 'H', 'B': 'H'}",ALTALL,other,Anc_1206
4049,Anc_1206_alt2_001.rechained.pdb,nsdb-004050,HH,88.479872,Anc_1206_alt2,Anc_1206_alt2,Anc_1206_alt2,True,Anc,silver,"{'A': 'H', 'B': 'H'}",ALT2,other,Anc_1206
4256,Anc_1206_alt4_001.rechained.pdb,nsdb-004257,HH,88.573810,Anc_1206_alt4,Anc_1206_alt4,Anc_1206_alt4,True,Anc,silver,"{'A': 'H', 'B': 'H'}",ALT4,other,Anc_1206
4678,Anc_1206_alt5_001.rechained.pdb,nsdb-004679,HH,88.373498,Anc_1206_alt5,Anc_1206_alt5,Anc_1206_alt5,True,Anc,silver,"{'A': 'H', 'B': 'H'}",ALT5,other,Anc_1206
4701,Anc_1206_alt3_001.rechained.pdb,nsdb-004702,HH,88.352088,Anc_1206_alt3,Anc_1206_alt3,Anc_1206_alt3,True,Anc,silver,"{'A': 'H', 'B': 'H'}",ALT3,other,Anc_1206

In [27]:
structure_info.query('u == "Anc_820"').query('stochiometry == "DDKK"').sort_values(by="original_name")

,original_name,id,stochiometry,average_pLDDT,taxond_id,lineage,scientific_name,is_ancestral,nitrogenase_type,status,chain_reference,variant,clade,u
3160,Anc_820_alt2_001.rechained.pdb,nsdb-003161,DDKK,94.443344,Anc_820_alt2,Anc_820_alt2,Anc_820_alt2,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT2,other,Anc_820
2031,Anc_820_alt3_001.rechained.pdb,nsdb-002032,DDKK,94.162046,Anc_820_alt3,Anc_820_alt3,Anc_820_alt3,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT3,other,Anc_820
2635,Anc_820_alt5_001.rechained.pdb,nsdb-002636,DDKK,94.403828,Anc_820_alt5,Anc_820_alt5,Anc_820_alt5,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALT5,other,Anc_820
1607,Anc_820_altall_001.rechained.pdb,nsdb-001608,DDKK,94.089081,Anc_820_altall,Anc_820_altall,Anc_820_altall,True,Anc,silver,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",ALTALL,other,Anc_820
698,Anc_820_map_001.rechained.pdb,nsdb-000699,DDKK,94.444840,Anc_820_map,Anc_820_map,Anc_820_map,True,Anc,gold,"{'A': 'D', 'B': 'K', 'D': 'D', 'E': 'K'}",MAP,other,Anc_820